
        {% csrf_token %}
        <div class="form-group mb-2">
            <label for="name"> Назва фільму: </label>
            {{ form.name }}
        </div>
        <div class="form-group mb-2">
            <label for="year"> Рік виходу: </label>
            {{ form.year }}
        </div>
        <div class="form-group mb-2">
            <label for="director"> Режисер: </label>
            {{ form.director }}
        </div>
        <div class="form-group mb-2">
            <label for="description"> Опис: </label>
            {{ form.description }}
        </div>
